@media only screen and (max-width: 600px) {
body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    margin: 0 auto;
}

.heading {
    font-size: 32px;
    max-width: 358px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    /* width: 100%; */
    text-align: center;
}

.aboutus {
    max-width: 474px;
    color: hsl(300, 43%, 22%);
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0 0 0;
    text-align: center;
}

.main-display {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
}



.first-review {
    /* display: grid; */
    border: none;
    padding: 16px 50px 16px 23px;
    margin: 10px 0px 0 0;
    background-color: hsl(333, 81%, 94%);
    /* border-radius: 11px; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* align-content: stretch; */
    /* justify-content: end; */
    /* align-items: baseline; */
    /* justify-items: center; */
}
.second-review {
    border: none;
    padding: 16px 50px 16px 23px;
    margin: 17px 0px;
    background-color: hsl(333, 81%, 94%);
    /* border-radius: 11px; */
}
.third-review {
    border: none;
    padding: 16px 50px 16px 23px;
    margin: 9px 0 0 0; 
    background-color: hsl(333, 81%, 94%);
    /* border-radius: 11px; */
}

.review-text {
    margin: 0 0 0 30px;
}

.catalog {
    display: flex;
    margin: 79px 0px 0 0;
    flex-direction: column;
    justify-content: space-between;
}
.catalog-text {
    max-width: 357px;
    line-height: 23px;
    color: hsl(333, 80%, 87%);
    margin: 21px 0 5px 0;
}

    .coltonsmith {
        border: none;
        border-radius: 10px;
        padding: 24px;
        background-color: hsl(310, 26%, 15%);
        color: white;
        margin: 0 20px;
    }
    .irene {
        border: none;
        border-radius: 10px;
        padding: 24px;
        background-color: hsl(310, 26%, 15%);
        color: white;
        top: 22px;
        position: relative;
        margin: 0 20px;
    }
    .anne {
        border: none;
        border-radius: 10px;
        padding: 24px;
        background-color: hsl(310, 26%, 15%);
        color: white;
        position: relative;
        top: 44px;
        margin: 0 20px;
    }
    .catalog img {
        border-radius: 50%;
        width: 2.5rem;
    }
    .name {
        
            max-width: 127px;
            line-height: 23px;
            margin: 0 0 0 10px;
        
    }
    .user-profile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .name span {
        color: hsl(336, 45%, 41%);
    }
    footer {
        /* position: relative; */
        margin: 0 auto;
        bottom: 0;
    }
    .background img:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
    }
    .background img:nth-child(2) {
        position: absolute;
        bottom: 1px;
        right: 0;
        margin: 0 auto;
    }
}